<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2024 DB InfraGO AG and others
 
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 https://www.eclipse.org/legal/epl-2.0.
  
 SPDX-License-Identifier: EPL-2.0
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/PlanPro/1.10.0.1"
            class="org.eclipse.set.model.planpro.PlanPro.PlanProPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="planpro"
            class="org.eclipse.set.model.planpro.PlanPro.util.PlanProResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Basisobjekte/1.10.0.1"
            class="org.eclipse.set.model.planpro.Basisobjekte.BasisobjektePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="basisobjekte"
            class="org.eclipse.set.model.planpro.Basisobjekte.util.BasisobjekteResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/BasisTypen/1.10.0.1"
            class="org.eclipse.set.model.planpro.BasisTypen.BasisTypenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="basistypen"
            class="org.eclipse.set.model.planpro.BasisTypen.util.BasisTypenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/ATO/1.10.0.1"
            class="org.eclipse.set.model.planpro.ATO.ATOPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="ato"
            class="org.eclipse.set.model.planpro.ATO.util.ATOResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Verweise/1.10.0.1"
            class="org.eclipse.set.model.planpro.Verweise.VerweisePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="verweise"
            class="org.eclipse.set.model.planpro.Verweise.util.VerweiseResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Ansteuerung_Element/1.10.0.1"
            class="org.eclipse.set.model.planpro.Ansteuerung_Element.Ansteuerung_ElementPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="ansteuerung_element"
            class="org.eclipse.set.model.planpro.Ansteuerung_Element.util.Ansteuerung_ElementResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Bahnsteig/1.10.0.1"
            class="org.eclipse.set.model.planpro.Bahnsteig.BahnsteigPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="bahnsteig"
            class="org.eclipse.set.model.planpro.Bahnsteig.util.BahnsteigResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Balisentechnik_ETCS/1.10.0.1"
            class="org.eclipse.set.model.planpro.Balisentechnik_ETCS.Balisentechnik_ETCSPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="balisentechnik_etcs"
            class="org.eclipse.set.model.planpro.Balisentechnik_ETCS.util.Balisentechnik_ETCSResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Bedienung/1.10.0.1"
            class="org.eclipse.set.model.planpro.Bedienung.BedienungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="bedienung"
            class="org.eclipse.set.model.planpro.Bedienung.util.BedienungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Block/1.10.0.1"
            class="org.eclipse.set.model.planpro.Block.BlockPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="block"
            class="org.eclipse.set.model.planpro.Block.util.BlockResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Bahnuebergang/1.10.0.1"
            class="org.eclipse.set.model.planpro.Bahnuebergang.BahnuebergangPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="bahnuebergang"
            class="org.eclipse.set.model.planpro.Bahnuebergang.util.BahnuebergangResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Flankenschutz/1.10.0.1"
            class="org.eclipse.set.model.planpro.Flankenschutz.FlankenschutzPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="flankenschutz"
            class="org.eclipse.set.model.planpro.Flankenschutz.util.FlankenschutzResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Ortung/1.10.0.1"
            class="org.eclipse.set.model.planpro.Ortung.OrtungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="ortung"
            class="org.eclipse.set.model.planpro.Ortung.util.OrtungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Fahrstrasse/1.10.0.1"
            class="org.eclipse.set.model.planpro.Fahrstrasse.FahrstrassePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="fahrstrasse"
            class="org.eclipse.set.model.planpro.Fahrstrasse.util.FahrstrasseResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Geodaten/1.10.0.1"
            class="org.eclipse.set.model.planpro.Geodaten.GeodatenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="geodaten"
            class="org.eclipse.set.model.planpro.Geodaten.util.GeodatenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/1.10.0.1"
            class="org.eclipse.set.model.planpro.Weichen_und_Gleissperren.Weichen_und_GleissperrenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="weichen_und_gleissperren"
            class="org.eclipse.set.model.planpro.Weichen_und_Gleissperren.util.Weichen_und_GleissperrenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Gleis/1.10.0.1"
            class="org.eclipse.set.model.planpro.Gleis.GleisPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="gleis"
            class="org.eclipse.set.model.planpro.Gleis.util.GleisResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Medien_und_Trassen/1.10.0.1"
            class="org.eclipse.set.model.planpro.Medien_und_Trassen.Medien_und_TrassenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="medien_und_trassen"
            class="org.eclipse.set.model.planpro.Medien_und_Trassen.util.Medien_und_TrassenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Nahbedienung/1.10.0.1"
            class="org.eclipse.set.model.planpro.Nahbedienung.NahbedienungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="nahbedienung"
            class="org.eclipse.set.model.planpro.Nahbedienung.util.NahbedienungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/PZB/1.10.0.1"
            class="org.eclipse.set.model.planpro.PZB.PZBPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="pzb"
            class="org.eclipse.set.model.planpro.PZB.util.PZBResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Regelzeichnung/1.10.0.1"
            class="org.eclipse.set.model.planpro.Regelzeichnung.RegelzeichnungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="regelzeichnung"
            class="org.eclipse.set.model.planpro.Regelzeichnung.util.RegelzeichnungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/1.10.0.1"
            class="org.eclipse.set.model.planpro.Schluesselabhaengigkeiten.SchluesselabhaengigkeitenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="schluesselabhaengigkeiten"
            class="org.eclipse.set.model.planpro.Schluesselabhaengigkeiten.util.SchluesselabhaengigkeitenResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Signale/1.10.0.1"
            class="org.eclipse.set.model.planpro.Signale.SignalePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="signale"
            class="org.eclipse.set.model.planpro.Signale.util.SignaleResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/1.6.0.1"
            class="org.eclipse.set.model.planpro.Signalbegriffe_Struktur.Signalbegriffe_StrukturPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="signalbegriffe_struktur"
            class="org.eclipse.set.model.planpro.Signalbegriffe_Struktur.util.Signalbegriffe_StrukturResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Zuglenkung/1.10.0.1"
            class="org.eclipse.set.model.planpro.Zuglenkung.ZuglenkungPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="zuglenkung"
            class="org.eclipse.set.model.planpro.Zuglenkung.util.ZuglenkungResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/1.10.0.1"
            class="org.eclipse.set.model.planpro.Zugnummernmeldeanlage.ZugnummernmeldeanlagePackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="zugnummernmeldeanlage"
            class="org.eclipse.set.model.planpro.Zugnummernmeldeanlage.util.ZugnummernmeldeanlageResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/1.10.0.1"
            class="org.eclipse.set.model.planpro.Signalbegriffe_Ril_301.Signalbegriffe_Ril_301Package"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="signalbegriffe_ril_301"
            class="org.eclipse.set.model.planpro.Signalbegriffe_Ril_301.util.Signalbegriffe_Ril_301ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlanPro -->
      <package
            uri="http://www.plan-pro.org/modell/Layoutinformationen/1.10.0.1"
            class="org.eclipse.set.model.planpro.Layoutinformationen.LayoutinformationenPackage"
            genModel="model/PlanPro.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated PlanPro -->
      <parser
            type="layoutinformationen"
            class="org.eclipse.set.model.planpro.Layoutinformationen.util.LayoutinformationenResourceFactoryImpl"/>
   </extension>

</plugin>
