# This workflow will build the model and publish it to GitHub Packages

name: Build model

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: eclipse-set/build/.github/actions/setup-java@main
    
    - name: Build
      run: mvn -T 1.5C -B clean verify
      working-directory: java

    - name: Publish
      run: mvn -T 1.5C -B deploy -DaltDeploymentRepository=set-github::https://maven.pkg.github.com/${{ github.repository }}
      working-directory: java
      if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Trigger Toolboxmodel
      if: github.ref == 'refs/heads/main' && github.repository_owner == 'eclipse-set'
      uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
      with:
        token: ${{ secrets.GH_BOT_TOKEN  }}
        repository: eclipse-set/set
        event-type: "Rebuild with model update ${{ github.run_number }}"
